.item1{
    grid-area: header;
}
.item2{
    grid-area: main;
}
.item3{
    grid-area: menu;
}
.item4{
    grid-area: right;
}
.item5{
    grid-area: footer;
}

.grid-container{
    display: grid;
    grid-template-areas: 'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
    background-color: rgb(165, 144, 120);
    padding: 20px;
    gap: 10px;
  
}

.grid-container > div{
    background-color: rgb(132, 172, 158);
    padding: 50px 0;
    gap: 20px;
    text-align: center;
    font-size: 30px;
}